@use '../../styles/vars';

.navigation {
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  &-link{
    margin:1rem;
    color: vars.$secondary-color;
    &:hover{
      color:vars.$main-color;
    }
  }
  
}
.header {
  display:flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 0.4px solid lightgrey;
  &-homeText{
      color: vars.$main-color;
  }
  &-flags{
  }

}

